body{
    background: linear-gradient(to right, #ece9e6, #ffffff);
}

img {
	position: relative;
    float: center;
    width: 150px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:no-repeat;
    background-size: cover;
    border-radius: 5%
}

nav {

                background: linear-gradient(to right, #56ab2f, #a8e063);
                border-radius: 6px !important;
}

#s {
    color: #060AD6;
    font-family: ;
    font-weight: 
}

p { 
  font-size: 1.4em;
}   

h2 {
    color: #6f0000;
    font-family: lobester;
    font-style: italic;
}

h4 {
    font-weight: bold;
}

#result {
    font-size: 15px;
}
#b0 {
    border: 1px solid;
    border-radius: 55px;
    color: blue;
}


span {
    color: #A00000;
}

#nF {
    font-family: Merienda;
    font-size: 30px;
    color : #0003D8;

}

#b1{

    border: 1px solid;
    border-radius: 55px;

    height:100px; 
    width:120px; 
    margin: -30px -50px; 
    position:relative;
    top:50%; 
    left:50%;
}

#b2{
    height:60px; 
    width:120px; 
    margin: -100px 160px; 
    float:right;
    top:50%; 
    left:20%;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
}
#US {
    position: relative;
    float: left;
    width:  600px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5%
}

